{
  "root": true,
  "env": {
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["@typescript-eslint", "jest-dom"],
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:tailwind/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "semi": "off",
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-non-null-assertion": "error"
  }
}
